# Data
bee-project/data/
bee-project/data_raw/

# Model weights
*.pth
*.pt

# Python cache
__pycache__/
*.pyc

# Virtual environments
env/
venv/
.env

# OS files
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/
models/bee_model.pth
.git
.spyproject/

